[submodule "ext/glfw"]
	path = ext/glfw
	url = git@github.com:glfw/glfw.git
[submodule "ext/glm"]
	path = ext/glm
	url = git@github.com:g-truc/glm.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = git@github.com:assimp/assimp.git
